@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
        background-color: gainsboro;
}
nav{
    background-color: black;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    width: 40%;
    font-size: 30px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}

.navb{
width: 60%;
display: flex;
justify-content: flex-end;
margin-right: 50px;
}

.navb a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    flex-direction: column;
}

.navb a:hover{
    color: crimson;
}


/* Table */


.table-container{
    width: 80%;
    background-color: aquamarine;
    margin: 50px auto;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

table{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
padding: 5px;
}

.insidetable{
    margin: 10px;
    width: 90%;
}
.insidetable td{
    padding: 5px;
}

td>a{
    padding: 10px;
    position: relative;
    top: 5px;
}

tr td{
    padding: 10px;
}


/* Form */


.form-container{
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.fitem1{
    /* background-color: blue; */
    margin:10px 0;
    font-weight:600;
    line-height: 20px;
}

[type="text"],
[type="date"],
[type="number"],
[type="email"],
[type="password"]
{
    width: 100%;
    padding: 8px 0px;
    margin-top: 5px;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    box-sizing: border-box;
}

.btn{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: black;
    border:2px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
    border:2px solid black;
}