@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-size: cover;
    background-position: center;
        background-image: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
        height: 1450px;

}
nav{
    background-color: black;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo{
    width: 40%;
    font-size: 30px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.navb{
width: 60%;
display: flex;
justify-content: flex-end;
margin-right: 5%;
}

.navb a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-left: 6%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navb a:hover{
    color: #87CEFA;
}


/* Table */


.table-container{
    width: 80%;
    background-color: white;
    margin: 50px auto;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

table{
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
padding: 5px;
}

.insidetable{
    margin: 10px;
    width: 90%;
}
.insidetable td{
    padding: 5px;
}

td>a{
    color: black;
    text-decoration: none;
    position: relative;
    top: 5px;
}

tr td{
    padding: 10px;
}


.port{
    display: flex;
    border: none;
}

/* Form */


.form-container{
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.fitem1{
    /* background-color: blue; */
    margin:10px 0;
    font-weight:600;
    line-height: 20px;
}

[type="text"],
[type="date"],
[type="number"],
[type="email"],
[type="password"]
{
    width: 100%;
    padding: 8px 0px;
    margin-top: 5px;
    border-radius: 5px;
    /* border: none; */
    outline: none;
    box-sizing: border-box;
}

.btn{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: black;
    border:2px solid black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
    border:2px solid black;
}